/* src/App.css */

.logo {
  position: absolute;
  top: 50px;
  left: 1px;
  font-size: 50px;
  color: rgb(3, 3, 3);
}

nav {
  background-color: rgba(172, 11, 11, 0.507); /* Fundo opaco com 80% de opacidade */
  padding: 10px;
  position: relative; /* Garante que o posicionamento absoluto na .logo seja relativo ao nav */
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

